{% include "base.html" %}

{% block main %}

    <div class="container mt-5">
        <h1 class="text-center my-5">Indoor Navigation App</h1>
        <form action="choose" method="post" class="bg-white p-4 shadow rounded">
            {% csrf_token %}
            <h2 class="mb-4">Details</h2>

            <div class="mb-3">
                <label for="name" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name">
            </div>

            <div class="mb-3">
                <h4 class="mb-3">Teacher to Meet:</h4>
                <select class='form-select iselect2' name="teacher">
                    {% for teacher in teachers %}
                        <option value="{{ teacher.name }}">{{ teacher.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock  %}