{% include "base.html" %}

{% block main %}

    <div class="container choose2">
        <h1 class="text-center my-5">Your Destination Infomation</h1>
        <h2>Your Destination is: {{destination}}</h2>

        <form class="bg-white shadow rounded p-5" action="floor-navigate" name="Haus" method='get'>

            <div class="form-group">
                <label for="floor" class="txt">Floor:</label>
                <select class='form-control iselect2 my-3' id="floor" name="Floor">
                    <option value="ground">Ground Floor</option>
                    {% for i in '123456' %}
                        <option value="floor {{ i }}">Floor {{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="from" class="txt">From:</label>
                <select class='form-control iselect2 my-3' id="from" name="From">
                    {% for i in places %}
                    <option value="{{i.title}}">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="to" class="txt">To:</label>
                <select class='form-control iselect2 my-3' id="to" name="To">
                    {% if destination %}
                        <option value="{{ destination.title }}" selected>{{destination.name}}</option>
                    {% else %}
                        {% for i in places %}
                        <option value="{{i.title}}">{{i.name}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <input class='btn btn-primary btn2' type="submit" value="Search">
        </form>
    </div>

{% endblock  %}